
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
temp/
local/
native

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/