
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
temp/
local/
/native

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
# Zips versionados de release (publicados em GitHub Releases)
PlayableAd/build/merge-merge-merge-web-mobile-v*.zip
